@font-face {
    font-family: Libre Baskerville-Bold;
    src: url(fonts/LibreBaskerville-Bold.ttf) format("truetype");
}

@font-face {
    font-family: Arvo;
    src: url(fonts/Arvo-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Arvo Bold;
    src: url(fonts/Arvo-Bold.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style-type: none;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}


/* Sidebar settings */ 

#sidebar {
    background-color: rgb(36, 54, 36);
    font-family: Libre Baskerville-Bold, serif;
    color: white;
    padding: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    gap: 3rem;
}

.dashboard-title {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.menu>ul,
.menu-2>ul {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 15px 0px;
    align-items: center;
}


/* Header settings */

#header {
    background-color: rgb(247, 242, 236);
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    gap: 4px;
    border-bottom: 1px solid rgb(105, 23, 23);
}

.search {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

input {
    border: 2px solid rgb(182, 165, 165);
    border-radius: 10px;
    padding: 4px;
}

input:focus {
    outline: 2px solid rgb(250, 185, 110);
}

.profile-header {
    font-weight: 900;
    color:brown;
    display: grid;
    grid-auto-flow: column;
    justify-self: end;
    align-self: center;
    gap: 5px;
}

.profile-header:hover {
    cursor: pointer
}

.header-row2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr;
}

.small-text {
    font-size: 0.8rem;
}

.user-name2 {
    font-family: Arvo Bold;
    font-size: 1.3rem;
}

.action-buttons {
    justify-self: end;
}

.action-buttons button {
    text-decoration: none;
    font-family: Arvo Bold, serif;
    padding: 8px 14px;
    margin: 4px;
    border: none;
    border-radius: 20px;
    background-color: rgb(78, 48, 48);
    color: rgb(248, 240, 215);
}

.action-buttons button:hover {
    cursor: pointer;
    filter: brightness(2);
}


/* Main content settings */

#main-content {
    background-color: rgb(190, 181, 170);
    grid-column: 2 / 3;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
}

.section-header {
    font-family: Arvo Bold, serif;
    padding-bottom: 0.5rem;
}

.project-cards {
    grid-row: 1 / 3;
}

.card-holder {
    padding: 4px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background-color: white;
    border-radius: 8px;
    border-left: 6px solid rgb(224, 158, 35);
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.card:hover {
    cursor: pointer;
    color: rgba(141, 20, 20, 0.863);
    border-left: 6px solid rgb(248, 191, 85);
    margin: 0;
}

.card>p {
    font-family: Arvo Bold, serif;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.icon-holder {
    justify-self: end;
}

.announce-box {
    border-radius: 8px;
    background-color: white;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 0.7rem;
    gap: 10px;
    height: 80%;
}

.trending-username,
.announce-box p {
    font-family: Arvo Bold, serif;
    padding-bottom: 0.3rem;
}

.announce-box div {
    border-bottom: 1px solid rgb(161, 161, 161);
}

.trending-box {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    gap: 1rem;
}

.description {
    color: rgb(136, 110, 110);
    font-size: 0.8rem;
}

#header,
#main-content {
    font-family: Arvo;
    font-size: 1rem;
    color: rgba(59, 8, 8, 0.863);
}

